@import "../../scss/mixins";
@import "../../scss/variables";
@import "../../scss/buttons";

.wrapper {
  display: flex;
  font-size: x-large;
  justify-content: space-between;
  padding: 10px 1em;
  background: #ffffff;
}

.header-button {
  margin-top: 3em;
}
