$max-width: 1024px;
$xsmall: 300px;
$small: 600px;
$medium: 1024px;
$large: 1440px;

$font-family: "Montserrat", sans-serif;
$font-size-root: 12pt;
$font-size-mini: 9pt;
$font-weight-bold: 900;
$font-weight-semi-bold: 700;
$font-weight-normal: 200;
$font-weight-thin: $font-weight-normal;

$gutter: 20px;
$line-height-base: 1.5;
$border-radius: 0.25rem;
$gap-base: 0.5rem;

$primary-blue: #007aff;
$primary-blue-darker: #065072;
$primary-black: #1b263c;
$primary-red: #be0e2b;
$background-pale: #f2f5fa;
$background-color: #ffffff;
$grey-shadow: #00000080;
