@import "../../scss/mixins";
@import "../../scss/variables";
@import "../../scss/buttons";
@import "../../scss/fonts";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  .form-box {
    width: 30%;
  }
}
form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(199, 199, 199, 0.55);
  border-radius: 6px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1em;
  font-weight: 800;
}

@include small {
  form {
    max-width: 75%;
  }
}
@include medium {
  form {
    max-width: 60%;
  }
}
@include large {
  form {
    max-width: 100%;
  }
}

.button-box {
  display: flex;
  justify-content: center;
}

.logo {
  vertical-align: middle;
  width: 346px;
  height: 212px;
}
