<app-header [textButton]="'LOGIN'" [redirectTo]="'./login'" ></app-header>
<div class="wrapper" [@EnterLeave]="'flyIn'">
    
    
        <img src="../../../assets/img/logo_transparent.png" alt="Links Logo" [routerLink]="['./home']" class="logo">
        <div class="form-box" id="registerSection">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
                <fieldset>
                    <h1>SIGNUP</h1>
                    <label for="name">Full name:</label>
                    <input type="text" formControlName="name">
                   
                    <label for="email">Your email:</label>
                    <input type="email" formControlName="mail">
                    
                    <label for="password">Pasword:</label>
                    <input type="password" formControlName="password">
                
                </fieldset>
            
                <div class="button-box">
                    <button [ngClass]="!registerForm.valid ? 'primary-button-disabled' : 'primary-button'" type="submit"
                        [disabled]="!registerForm.valid">SIGNUP</button>
                </div>
    
                <p class="legal">By Creating account You agree to the <br> <a href="#">Terms of use</a>  and <a href="#">Privacy Polycy</a></p>
    
            </form>
        </div>
        
    
</div>