@import "../../scss/mixins";
@import "../../scss/variables";
@import "../../scss/buttons";
@import "../../scss/fonts";
@import "../../scss/utils";

.wrapper {
  display: flex;
  .sidebar-menu {
    // Menu font-size 18px
    font-size: 1.8rem;
    // Menu padding 8px
    padding: 0.8rem;
    width: 20vw;
  }
  .content {
    // Content padding 8px
    padding: 0.8rem;
    width: 80vw;
  }
}

form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(199, 199, 199, 0.55);
  border-radius: 6px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 800;
}

input {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1em;
  font-weight: 800;
}

.button-box {
  margin-top: 1em;
  display: flex;
  justify-content: end;
}

@include small {
}
@include medium {
}
@include large {
}
